


/* Nav and Logo*/

.navMenu-container{
    position: fixed;
    padding:30px 0;
    width:100%;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.navMenu-options p{
    font-size: 2.1em;
    color:black;

}

.navMenu-options button:hover {
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
    color: white;
  }
  
.navMenu-options p:hover {
    color: gray;
  }
  
.navMenu-options p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
  }

.navMenu-group{
    max-width: 800px;
    margin:0 auto;
}


.navMenu-options{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content:  space-evenly;
}

.navMenu-options a:link {
    text-decoration: none;
}

.HeaderScrolled{
  background: white;
  padding: 15px 0;
  backdrop-filter: blur(20px);
}

.login-button-menu:hover {
    background-color: #fc766a;
    color: white;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
     transform: translateY(-3px);
}

.register-button-menu:hover{
    background-color: white;
    color: black;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

.logo{
    width:25%
}

.logo img{
    width:100%;
}

.narrow{
  display:none;
}

.menu-option {
  font-size: 1.3em;
  text-decoration: none;
  width:100%;
  color:black;
  
}


.menu-option p{
  text-decoration: none;
  padding: .5em 0;
  border-bottom: 1px solid black;
}


.last-option{
  font-size: 1.3em;
  text-decoration: none;
  width:100%;
  color:black;
  
}

.last-option p {
  padding: 15px 0;
  
}




/*First HERO*/


.intro-section {
    position: relative;
    min-height: 100vh;
    text-align: center;
  }
  
  .bg-stretch {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  

  .intro-section .bg-stretch {
    width: 100%;
    /* height: 100vh; */
    background-image: url("../images/finalhero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .intro-section .bg-stretch p {
    font-size: 1.4vw;
    font-weight: 1200;
  }
  
  
.intro-section .bg-stretch h1 {
  font-family: "GTEestiDisplay-Medium", -apple-system, system-ui,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  margin: 0;
  color: black;
  font-size: 3.5em;
  line-height: 1.2;
  /* opacity: 0; */
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}


.bg-stretch .text {
  padding-top: 0;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}


.bg-stretch .slide-frame {
  display: flex;
}

.bg-stretch .slide-frame .text p {
  padding-top: 5px;
  font-size: 1em;
  color: black;
  font-family: "GTEestiDisplay-Medium", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  line-height: 1.3em;
}

.start-button:hover{
  background-color: #fc766a;
}




@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}


.anchor-wrap{
  position: absolute;
  width: 100%;
  bottom:30px;

}

.anchor {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 56px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);

  animation-duration: 4s;

  animation-name: bounce;

  animation-timing-function: ease-in-out;

  animation-play-state: running;

  animation-iteration-count: infinite;
  will-change: translate;
}

.anchor span {
  position: absolute;
  top: 24px;
  left: 16px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

/* ARROW */
.anchor span:before,
.anchor span:after {
  content: "";
  position: absolute;
  top: 4px;
  left: -3px;
  width: 18px;
  height: 2px;
  background: #fc766a;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.anchor span:after {
  left: auto;
  right: -3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/* CARDS */

.Cards{
  margin-bottom: 50px;
}

.Card{
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  /* padding: 20px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 10px;
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}


.Card:hover img {
  transform: translateY(-20px);
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100% "";
}

.Card img{
  position: absolute;
  z-index: 1;
  transition:.8s;
  height: 110%;
  background-size: cover;

}

.Card p {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  align-self: end;
  margin: 0 0 20px 20px;
}

.Cards h2 {
  margin: 50px 20px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(104deg, #050a27 0%, #4a548c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
}

.CardGroup{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bg-2-stretch {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.intro-section .bg-2-stretch {
  width: 100%;
  background-image: url("../images/compguy.png");
  background-size: cover;
  background-repeat: no-repeat;
}


@media (max-width: 1350px){

  .bg-stretch .slide-frame{
    position: relative;
    bottom: 15%;
  }
  
}



@media (max-width: 1024px){

  .intro-section .bg-stretch{
    width:100%;
    background-image: url("../images/finalhero_ipad3.png");
   
    background-repeat: no-repeat;
    background-position: 50% 30%;
  }

  .slide-frame .text .slide-title {
      font-size: 3.5em;
  }
  .bg-stretch .slide-frame .text p {
    color: gray;
    font-size: 1em;
}
  .bg-stretch .slide-frame{
   position: relative;
    margin:0 auto;
    bottom: 25%;
 
  }

}




@media (max-width:768px){
  .intro-section .bg-stretch{
    width:100%;
    background-image: url("../images//wallpaper.png");
    background-size: 1500px auto;
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }


  .bg-stretch .slide-frame{
    margin:0 auto;
    bottom: 20%;
    position: relative;
    font-size: .8em;
    margin-bottom: 0px;
  }

  .anchor-wrap{
    position: absolute;
    width: 100%;
    bottom:30px;

  }
}

@media (max-width: 650px) {
  .narrow {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .icon-burger {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: block;

    float: right;
    cursor: pointer;
    margin-right: 10px;
    
  }

  .close-icon{
    background-color: #fc766a; 
    padding:.2em;
    display: block;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    
  }

  .responsive {
    display: none;
  }

  .logo {
    width: 45%;
  }
  .narrow-responsive {
    display: block;
    text-align: center;
    background: white;
    padding: 15px 0 70px 0;
    opacity: .95;
  }
  .narrow-responsive p:hover {
    color: black;
    
    background-color: #fc766a;
  }
  .navMenu-options {
    display: none;
  }
  .hide-menu{
    display:none;
  }

  .anchor-wrap {
    margin-bottom: 40px;
  }
}

@media (max-width:600px){

  .slide-frame .text .slide-title {
    font-size: 2.2em;
}

.bg-stretch .slide-frame .text p {
  font-size: 1em;
}

  .anchor-wrap{
    bottom:7px;
  }

  .intro-section .bg-stretch{
    background-position: 50% 200%;
  }
}


@media (max-width:400px){
  .intro-section .bg-stretch{
    background-position: 50% 120%;
  }
}
