


/* Nav and Logo*/

.navMenu-container{
    position: fixed;
    padding:30px 0;
    width:100%;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.navMenu-options p{
    font-size: 2.1em;
    color:black;

}

.navMenu-options button:hover {
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
    color: gray;
  }
  
.navMenu-options p:hover {
    color: gray;
  }
  
.navMenu-options p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
  }

.navMenu-group{
    max-width: 800px;
    margin:0 auto;
}


.navMenu-options{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content:  space-evenly;
}

.navMenu-options a:link {
    text-decoration: none;
}

.login-button-menu:hover {
    background-color: #fc766a;
    color: white;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
     transform: translateY(-3px);
}

.register-button-menu:hover{
    background-color: white;
    color: black;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

.logo{
    width:25%
}

.logo img{
    width:100%;
}




/*First HERO*/


.intro-section {
    position: relative;
    min-height: 100vh;
    text-align: center;
  }
  
  .bg-stretch {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  

  .intro-section .bg-stretch {
    width: 100%;
    /* height: 100vh; */
    background-image: url("../images/finalhero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .intro-section .bg-stretch p {
    font-size: 1.4vw;
    font-weight: 1200;
  }
  
  
.intro-section .bg-stretch h1 {
  font-family: "GTEestiDisplay-Medium", -apple-system, system-ui,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  margin: 0;
  color: black;
  font-size: 3.3vw;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}


.bg-stretch .text {
  padding-top: 0;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}


.bg-stretch .slide-frame {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

